body {
	font-family: sans-serif;
	background: linear-gradient(red, yellow, green, blue);
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

p {
	color: white;
}

h1 {
	color: blue;
}

h3 {
	color: red;
}

.img-a {
	border-radius: 20px;
}

.img-b {
	border-radius: 20px;
}

.img-c {
	border-radius: 20px;
}

.img-d {
	border-radius: 20px;
}

a {
	color: white;
	text-decoration: none;
}

button {
	background-color: black;
	border-radius: 5px 20px;
	border-color: black;
	border: 2px solid;
	cursor: pointer;
	padding: 5px 10px;
}

button:hover {
	background-color: blue;
	border-radius: 20px 5px;
}